<h1><%=  @restaurant.name%></h1>
<br>
<h3><%=  @restaurant.category%></h3>
<p><%=  @restaurant.address%></p>
<p><%=  @restaurant.phone_number%></p>

<!-- <button><%= link_to "Add a review", new_restaurant_path, method: :get %></button>
 -->
<!-- <button> <%= link_to "Delete", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </button> -->

